body {
    margin: 0;
}

.icon img {
    width: 2%;
    height: 2%;
}

div {
    margin-left: 25%;
    padding: 1px 16px;
    font-family: Microsoft JhengHei;
    /* height: 1000px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    margin: 40px;
    text-decoration: none;
    font-weight: 200;
}

li a {
    margin: auto;
    height: 20px;
    width: 180px;
    border-color: rgb(47, 194, 162);
    border: 1px, 2px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: rgb(179, 157, 157);
    color: white;
    /* border-color: red;
    font-size: 18px; */
    font-weight: 250;
}

h1 {
    color: red;
}

h2 {
    text-align: center;
}


/* li a:hover {
    width: 200px
} */

.project1_ss img {
    width: 350px;
    height: 400px;
    padding: 5px;
}

@media only screen and (max-width: 1000px) {
    li {
        display: none;
    }
    ul {
        width: 0%;
    }
    div {
        margin-left: 10%;
    }
    .profile img {
        width: 125px;
        height: 125px;
    }
}